<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <data>
        <!-- actions opening views on models -->

        <record model="ir.actions.act_window" id="caisse.action_window">
            <field name="name">caisse window</field>
            <field name="res_model">secii.caisse</field>
            <field name="view_mode">tree,form</field>
        </record>

        <!-- Menu -->

        <menuitem name="Caisse"
                  id="caisse_1"
                  parent="account_accountant.menu_accounting"/>

        <menuitem name="caisse"
                  id="caisse_2"
                  parent="caisse_1"
                  action="view_comptable_tree_action"
        />

    </data>
</odoo>